 {% include 'Pages/base.html' %} {% load static %}

<body>
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a href="#" class="navbar-brand text-warning">
                    <img class="logo" src="" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html">
                    Home
                  </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

    </header>
    <!-- Header Area wrapper End -->
    <!-- Services Section Start -->
    <section id="" class="section-padding pb-0">
        <div class="container">
            <div class="row">
                <!-- Services item -->
                <div class="col-md-6 telecom-tervices col-xs-12">
                    <a href="/customer/" class="">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-user"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Customers</h4>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 telecom-tervices col-xs-12">
                    <a href="/vendor/" class="">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-user"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Vendors</h4>

                            </div>
                        </div>
                    </a>
                </div>

                <!-- Services item -->
                <div class="col-md-6 col-xs-12">
                    <a href="/product/">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-cart-full"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Products</h4>
                            </div>
                        </div>
                    </a>
                </div>


                <!-- Services item -->
                <div class="col-md-6 col-xs-12">
                    <a href="/customer/">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-cart-full"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Sales</h4>
                            </div>
                        </div>
                    </a>
                </div>





                <div class="col-md-6 col-xs-12">
                    <a href="/customer/">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-files"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Upload</h4>
                                <p class="lead text-danger">import excel file</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col-md-6 col-xs-12">
                    <a href="/customer/">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-book"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Purchase</h4>
                                <p class="lead text-danger"></p>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-md-6 col-xs-12">
                    <a href="/customer/">
                        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon">
                                <i class="lni lni-book"></i>
                            </div>
                            <div class="services-content">
                                <h4 class="text-muted">Store</h4>
                                <p class="lead text-danger"></p>
                            </div>
                        </div>
                    </a>

                </div>


            </div>
        </div>
    </section>

    <!-- Services Section End -->
    <!-- Footer Section Start -->
    <footer id="footer" class="footer-area pt-0 section-padding">
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-content">
                            <p>Copyright © 2020 <a rel="nofollow" href="#">ERP WSM</a> All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="material-icons">
                north
            </i>
    </a>
    <!-- Header Area wrapper End -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/wow.js'%}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js'%}"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/form-validator.min.js'%}"></script>
    <script src="{% static 'js/contact-form-script.min.js'%}"></script>
    <script src="{%static 'js/multisteps.js'%}"></script>
    <script src="{% static 'js/contact-form-script.min.js'%}"></script>
</body>

</html>